body {
    text-align: center;
    background-color: #283149;
  }
  

/* header section*/  
h1{
    font-size:6rem;
    text-align:center;
    color:#f302f7;
    text-shadow:5px 5px 5px white;
}
h1:hover{
    text-transform:uppercase;
}
/*header close*/


/*button section start*/
button{
    height:150px;
    width:140px;
    border:2px solid blue;
    border-radius:20px;
    font-size:4rem;
    color:blue;
    cursor:pointer;

}

#box{
    margin-top:90px;

}
button:hover{
    border:10px solid blue;
}
/*button section close*/



/*footer section start */
footer{
    padding:60px;
    font-size:4rem;
    color:magenta;
    text-shadow:2px 3px 3px white;
}
footer:hover{
color:magenta;

}
/*footer close*/



/*marquee start*/
marquee{
    padding:60px;
    color:magenta;
    font-size:4rem;
    text-shadow:3px 3px 3px white;
}

marquee:hover{
    text-transform:uppercase;
}
/*marquee close*/